body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(243,214,200,255);
    height: 6rem;
}
img#portfolio-logo {
    width: 5.5rem;
    padding-left: .5rem;
}
img.nav-menu {
    width: 6rem;
}
ul.menu {
    display: flex;
    gap: 5rem;
    list-style: none;
    padding: 0 2rem;
}
main#index-main {
    background-image: url(/Portfolio-final/images/Index-cover.gif);
    background-size: cover;
    height: 40vw; 
    opacity: 0.8;
}
.main-tittle{
    margin: auto;
    display: flex;
    justify-content: center;
    color: black;
}
h1{

    font-size: 430%;

}
h2{
    font-size: 300%;
}
.Talk-title {
    display: flex;
    justify-content: center;
}
section#contact-channels {
    display: flex;
    gap: 17rem;
    justify-content: center;
    margin-top: 5rem;
}